
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=0dc76f0b43b7ad1ca15bbf6f1dc0b5e0
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress