
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=da2810865c047151e2dd34a0b1c108b4
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress