
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=7777ed4deb2e23ceb366da92f6101d23
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress